
@font-face {
  font-family: 'SinghaCorpBold';
  src: url('SinghaCorpBold.eot?#iefix') format('embedded-opentype'),  url('SinghaCorpBold.woff') format('woff'), url('SinghaCorpBold.ttf')  format('truetype'), url('SinghaCorpBold.svg#SinghaCorpBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
