@font-face {
    font-family: 'Cooper Std';
    src: url('CooperBlackStd.eot');
    src: url('CooperBlackStd.eot?#iefix') format('embedded-opentype'),
        url('CooperBlackStd.woff2') format('woff2'),
        url('CooperBlackStd.woff') format('woff'),
        url('CooperBlackStd.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

