#activity_container{

	#tabs_container{
		width: 100% - 5px;
		height: 265px;
		margin: 0 auto;

		.tabs_menu{
			width: 100%;
			height: 40px;
			clear: both;
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: block;
			

			li {
				width: 100%/3;
				height: 40px;
				line-height: 40px;
				text-align: center;
				float: left;
				display: inline-block;
				background-color: #00173d;
				color: #a9a9a9;
				font-family: "db_heaventbold";
				font-weight: normal;
				font-size: 17px;
				text-rendering: optimizeLegibility !important;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-transform:uppercase;

				&:hover{
					cursor: pointer;
					.current;
				}

				&:first-child{
					border-top-left-radius: 10px;
					margin-right:0.5%;
					width: 100%/3 - 0.5;
				}

				&:last-child{
					border-top-right-radius: 10px;
					margin-left:0.5%;
					width: 100%/3 - 0.5;
				}
			}

			.current{
				background-color: #173c7a;
				color: #ffffff;
			}
		}

		.tabs{
			width: 100%;
			height: 265px - 40;
			background-color: #fcd921;
			border: 1px solid #173c7a;
			border-width:1px 5px 1px 1px;
			background-image: url(../images/main/activity/table_bg.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			overflow: hidden;
			
			.comming{
				display:block;
				padding:15% 0;
				text-align:center;
				font-family: "db_heaventbold";
				font-size:30px;
				text-transform:uppercase;
				font-weight:normal;
			}

			.driver_table{
				width: 100%;
				height: 100%;

				tr{
					text-align: center;
					height: 23px;
					line-height: 23px;
					align-items: stretch;
					font-family: "db_heaventbold";
					font-weight: normal;
					font-size: 16px;
					text-rendering: optimizeLegibility !important;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					text-transform:uppercase;

					&:first-child{
						text-transform: uppercase;
						font-size: 17px;
					}
					&:nth-child(odd){
						
						background-color: #fad434;
						color: #000000;
					}
					&:nth-child(even){
						background-color: #193e7a;
						color: #ffffff;
					}
					th{
						width:15%;
						text-align:center;
						padding:5px;
						line-height:1em;
						background-color: #193e7a;
						color: #ffffff;
						font-weight:normal;
						@media(max-width:@screen-md-max){
							width:10%;
						}
						& + th{
							width:20%;
							text-align:left;
							@media(max-width:@screen-md-max){
								width:25%;
							}
							& + th{
								width:15%;
								text-align:center;
								border:solid 1px #fad31b;
								border-width:0 2px 0 0;
								@media(max-width:@screen-md-max){
									width:15%;
								}
								& + th{
									width:15%;
									text-align:center;
									border-width:0 0 0 2px;
									@media(max-width:@screen-md-max){
										width:10%;
									}
									& + th{
										width:20%;
										text-align:left;
										border-width:0;
										@media(max-width:@screen-md-max){
											width:25%;
										}	
										& + th{
											width:15%;
											text-align:center;
											border-width:0;
											@media(max-width:@screen-md-max){
												width:15%;
											}	
										}
									}
								}
							}
						}
						
					}

					td{
						width:15%;
						text-align:center;
						padding:5px;
						line-height:1em;
						@media(max-width:@screen-md-max){
							width:10%;
						}
						& + td{
							width:20%;
							text-align:left;
							@media(max-width:@screen-md-max){
								width:25%;
							}
							& + td{
								width:15%;
								text-align:center;
								border:solid 1px #fad31b;
								border-width:0 2px 0 0;
								@media(max-width:@screen-md-max){
									width:15%;
								}
								& + td{
									width:15%;
									text-align:center;
									border-width:0 0 0 2px;
									@media(max-width:@screen-md-max){
										width:10%;
									}
									& + td{
										width:20%;
										text-align:left;
										border-width:0;
										@media(max-width:@screen-md-max){
											width:25%;
										}	
										& + td{
											width:15%;
											text-align:center;
											border-width:0;
											@media(max-width:@screen-md-max){
												width:15%;
											}	
										}
									}
								}
							}
						}
						
					}
				}
			}

			.tab_content{
				display: none;
			}

			#tab_1{
				width: 100%;
				height: 100%;

				.scrollbar_malihu();
			}

			#tab_2{
				width: 100%;
				height: 100%;
				display: block;
				.scrollbar_malihu();

				.main_list{
					padding-left: 10px;
					list-style-type: none;
					width:90%;

					li{
						padding-bottom: 10px;

						&:first-child{
							padding-top: 5px;
						}
						&:last-child{
							padding-bottom: 0;
						}

						span{
							font-family: "db_heaventbold";
							font-weight: normal;
							font-size: 18px;
							text-rendering: optimizeLegibility !important;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							text-decoration: underline;
							margin: 0;
						}
						.sub_list{
							padding-left: 0;
							list-style-type: none;
							
							li{
								padding-bottom: 0;
								font-family: "db_heaventregular";
								font-weight: normal;
								font-size: 16px;
								line-height: 1em;

								&:first-child{
									padding-top: 0;
								}
							}
						}	
					}
					
				}

				.content_list{
					width: 100%;
					padding: 5px 15px 5px 15px;
					color: #000000;
					background-color:#fad434;

					h4{
						padding: 0;
						margin: 0;
						font-family: "db_heaventbold";
						font-weight: normal;
						font-size: 20px;
						text-rendering: optimizeLegibility !important;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						line-height: 20px;
					}

					.content_area{
						font-size:18px;
						font-family: "db_heaventregular";
						line-height:1em;
						ul{
							margin: 0;
							padding-left: 20px;
							li{
								line-height:1em;
							}
						}

						table{
							tr{
								td{
									&:first-child{
										padding-right: 2em;
									}
								}
							}
						}
					}
					
					&:nth-child(even){
						background-color: #132b67;
						color: #ffffff;
					}
				}
			}

			#tab_3{
				width: 100%;
				height: 100%;
				position: relative;

				.track_info{
					position: absolute;
					z-index: 6;
					top: 0;
					left: 1em;

					h4{
						line-height: 24px;
						font-family: "db_heaventbold";
						font-weight: normal;
						font-size: 28px;
						text-rendering: optimizeLegibility !important;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}

					h6{
						line-height: 16px;
						font-family: "db_heaventregular";
						font-weight: normal;
						font-size: 18px;
						text-rendering: optimizeLegibility !important;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}

				.track_area{
					width: 100%;
					height: 100%;
					position: absolute;
					z-index: 4;
					top: 0;
					left: 0;
				}
			}
		}
	}
}

#activity_more{

	position: absolute;
    width: 97px;
    height: 31px;
    bottom: -31px / 3;
    z-index: 8;
    left: 50%;
    margin-left: -97px / 2;
    background-image: url(../images/main/activity/see_more_btn.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-indent: -9999px;
}