/* LESS Document */

.box{
	width:100%;
	.border-radius(10px);
	position:relative;
	margin-top:40px;
	margin-bottom:20px;
	
	h2{
		margin:0;
		padding:0;
		position:absolute;
		text-indent:-9999px;
	}
	.wrapBox{
		width:100%;
		.border-radius(10px);
		position:relative;
		overflow:hidden;
		.bgBorderBox{
		width:inherit;
		height:inherit;
		#gradient .vertical(#fdee25; #fe5210;0%; 100%);
		.border-radius(10px);
		overflow:hidden;
		.borderBox{
			width:inherit;
			height:inherit;
			border:solid 5px #770303;
			.border-radius(10px);
			padding:4px;
			overflow:hidden;
			.borderInsetBox{
				border:solid 3px #770303;
				width:100%;
				height:100%;
				.border-radius(6px);
				padding:8px 0;
				overflow:hidden;
				position:relative;
				
				&:before{
					position:absolute;
					top:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#ffffff;
					content:'';
				}
				&:after{
					position:absolute;
					bottom:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#fbad23;
					content:'';
				}
				
			}
			.content{
				width:inherit;
				height:inherit;
				background-color:#fcd921;
				.border-radius(6px);
				z-index:1;
				padding-top:30px;
				padding-bottom:20px;
				position:relative;
			}
		}
		
	}
	}
	
	
	&.boxClips{
		@media(max-width:@screen-sm-max){
			padding-right:25px;
			padding-left:25px;
		}
		h2{
			background:url(../images/main/head/clips_update_desktop.png) no-repeat;
			width:259px;
			height:62px;
			top:-52px / 2;
			z-index:2;
			
		}
		
	}
	&.boxActivity{
		@media(max-width:@screen-sm-max){
			padding-right:25px;
			padding-left:25px;
		}
		h2{
			background:url(../images/main/head/activity_update_desktop.png) no-repeat;
			width:304px;
			height:62px;
			top:-52px / 2;
			z-index:2;
			
		}
		
	}
	&.boxNews{
		@media(max-width:@screen-sm-max){
			padding-right:25px;
			padding-left:25px;
		}
		h2{
			background:url(../images/main/head/news_update_desktop.png) no-repeat;
			width:244px;
			height:62px;
			top:-52px / 2;
			z-index:2;
			
		}
		
	}
}

.boxItem{
	width:100%;
	.border-radius(10px);
	position:relative;
	
	.wrapBox{
		width:100%;
		.border-radius(10px);
		position:relative;
		overflow:hidden;
		.bgBorderBox{
		width:inherit;
		height:inherit;
		#gradient .vertical(#fdee25; #fe5210;0%; 100%);
		.border-radius(10px);
		overflow:hidden;
		.borderBox{
			width:inherit;
			height:inherit;
			border:solid 5px #770303;
			.border-radius(10px);
			padding:4px;
			overflow:hidden;
			@media(max-width:@screen-md-max){
				border:solid 4px #770303;
			}
			.borderInsetBox{
				border:solid 3px #770303;
				width:100%;
				height:100%;
				.border-radius(6px);
				padding:8px 0;
				overflow:hidden;
				position:relative;
				@media(max-width:@screen-md-max){
					padding:4px 0;
					border:solid 2px #770303;
				}
				
				&:before{
					position:absolute;
					top:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#ffffff;
					content:'';
				}
				&:after{
					position:absolute;
					bottom:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#fbad23;
					content:'';
				}
				
			}
			.content{
				width:inherit;
				height:inherit;
				background-color:#fcd921;
				.border-radius(6px);
				z-index:1;
				padding-top:7px;
				padding-bottom:7px;
				padding-left:10px;
				padding-right:10px;
				position:relative;
				@media(max-width:@screen-md-max){
					padding-top:3px;
					padding-bottom:3px;
					padding-left:5px;
					padding-right:5px;
				}
			}
		}
		
	}
	}
	
	
	
}

.boxFacebook{
	width:100%;
	.border-radius(10px);
	position:relative;
	margin-top:40px;
	margin-bottom:20px;
	@media(max-width:@screen-sm-max){
			padding-right:25px;
			padding-left:25px;
		}
	
	h2{
		margin:0;
		padding:0;
		position:absolute;
		text-indent:-9999px;
	}
	.wrapBox{
		width:100%;
		.border-radius(10px);
		position:relative;
		overflow:hidden;
		.bgBorderBox{
		width:inherit;
		height:inherit;
		background-color:#38548f;
		.border-radius(10px);
		overflow:hidden;
		.borderBox{
			width:inherit;
			height:inherit;
			border:solid 5px #303c54;
			.border-radius(10px);
			padding:4px;
			overflow:hidden;
			.borderInsetBox{
				border:solid 3px #303c54;
				width:100%;
				height:100%;
				.border-radius(6px);
				padding:8px 0;
				overflow:hidden;
				position:relative;
				
				&:before{
					position:absolute;
					top:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#ffffff;
					content:'';
				}
				&:after{
					position:absolute;
					bottom:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#6079aa;
					content:'';
				}
				
			}
			.content{
				width:inherit;
				height:inherit;
				background-color:#395794;
				.border-radius(6px);
				z-index:1;
				padding-top:30px;
				padding-bottom:20px;
				position:relative;
				color:#38548f;
				padding-left:15px;
				padding-right:15px;
			}
		}
		
	}
	}
	
	&.boxFace{
		h2{
			background:url(../images/main/head/facebook_desktop.png) no-repeat;
			width:203px;
			height:63px;
			top:-52px / 2;
			z-index:2;
			
		}
		
	}
	
}

.boxTab{
	width:100%;
	.border-radius(10px);
	position:relative;
	margin-bottom:20px;
	
	
	.head{
		position:absolute;
		top:-30px;
		width:100%;
		z-index:2;
		ul{
			margin:0;
			padding:0;
			li{
				width:50%;
				float:left;
				
				&.active{
					a.nav_prizes{
						background:url(../images/popup/head_repeat.png) repeat-x;
							&:before{
								content:'';
								display:block;
								position:absolute;
								top:0;
								left:0;
								background:url(../images/popup/headL.png) no-repeat;
								width:20px;
								height:78px;
							}
							&:after{
								content:'';
								display:block;
								position:absolute;
								top:0;
								right:0;
								background:url(../images/popup/headR.png) no-repeat;
								width:15px;
								height:78px;
							}
					}
					a.nav_condition{
						background:url(../images/popup/head_repeat.png) repeat-x;
						&:before{
								content:'';
								display:block;
								position:absolute;
								top:0;
								left:0;
								background:url(../images/popup/headL2c.png) no-repeat;
								width:20px;
								height:78px;
							}
							&:after{
								content:'';
								display:block;
								position:absolute;
								top:0;
								right:0;
								background:url(../images/popup/headR2c.png) no-repeat;
								width:21px;
								height:78px;
							}
							
							
						}
				}
				a{
					display:block;
					position:relative;
					background:url(../images/popup/headn_repead2.png) repeat-x;
					height:78px;
					width:100%;
					text-align:center;
					.border-top-radius(12px);
					
					&.nav_prizes{
						&:before{
								content:'';
								display:block;
								position:absolute;
								top:0;
								left:0;
								background:url(../images/popup/headLc.png) no-repeat;
								width:20px;
								height:78px;
							}
							&:after{
								content:'';
								display:block;
								position:absolute;
								top:0;
								right:0;
								background:url(../images/popup/headR2.png) no-repeat;
								width:30px;
								height:78px;
								.border-top-radius(12px);
							}
						
					}
					&.nav_condition{
							&:before{
							content:'';
							display:block;
							position:absolute;
							top:0;
							left:0;
							background:url(../images/popup/headL2.png) no-repeat;
							width:15px;
							height:78px;
						}
						&:after{
							content:'';
							display:block;
							position:absolute;
							top:0;
							right:0;
							background:url(../images/popup/headRc.png) no-repeat;
							width:21px;
							height:78px;
						}
						
					}
					
					.condition_s{
						background:url(../images/popup/conditionhover.png) no-repeat;
						width:200px;
						height:75px;
						display:block;
						margin:0 auto;
						text-indent:-9999px;
						
						
					}
					.prizes_s{
						background:url(../images/popup/prizeshover.png) no-repeat;
						width:200px;
						height:75px;
						display:block;
						margin:0 auto;
						text-indent:-9999px;
					}
					
					&.active{
						.condition_s{
							background:url(../images/popup/condition.png) no-repeat;
							width:200px;
							height:75px;
							display:block;
							margin:0 auto;
							text-indent:-9999px;
						}
						.prizes_s{
							background:url(../images/popup/prizes.png) no-repeat;
							width:200px;
							height:75px;
							display:block;
							margin:0 auto;
							text-indent:-9999px;
						}
					}
					/*
					&:before{
						content:'';
						display:block;
						position:absolute;
						top:0;
						left:0;
						background:url(../images/popup/headL2.png) no-repeat;
						width:20px;
						height:78px;
					}
					&:after{
						content:'';
						display:block;
						position:absolute;
						top:0;
						right:0;
						background:url(../images/popup/headR2.png) no-repeat;
						width:15px;
						height:78px;
					}
					*/
					
					
				}
			}
		}
	}
	.wrapBox{
		width:100%;
		.border-radius(10px);
		position:relative;
		overflow:hidden;
		margin-top:30px;
		.bgBorderBox{
		width:inherit;
		height:inherit;
		#gradient .vertical(#fdee25; #fe5210;0%; 100%);
		.border-radius(10px);
		overflow:hidden;
		.borderBox{
			width:inherit;
			height:inherit;
			border:solid 5px #770303;
			.border-radius(10px);
			padding:4px;
			overflow:hidden;
			.borderInsetBox{
				border:solid 3px #770303;
				width:100%;
				height:100%;
				.border-radius(6px);
				padding:8px 0;
				overflow:hidden;
				position:relative;
				
				&:before{
					position:absolute;
					top:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#ffffff;
					content:'';
				}
				&:after{
					position:absolute;
					bottom:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#fbad23;
					content:'';
				}
				
			}
			.content{
				width:inherit;
				height:inherit;
				background-color:#fcd921;
				.border-radius(6px);
				z-index:1;
				padding-top:30px;
				padding-bottom:20px;
				position:relative;
			}
		}
		
		}
	}
}

.boxPopup{
	width:100%;
	.border-radius(10px);
	position:relative;
	margin-top:0px;
	margin-bottom:20px;
	

	.wrapBox{
		width:100%;
		.border-radius(10px);
		position:relative;
		overflow:hidden;
		.bgBorderBox{
		width:inherit;
		height:inherit;
		#gradient .vertical(#fdee25; #fe5210;0%; 100%);
		.border-radius(10px);
		overflow:hidden;
		.borderBox{
			width:inherit;
			height:inherit;
			border:solid 5px #770303;
			.border-radius(10px);
			padding:4px;
			overflow:hidden;
			.borderInsetBox{
				border:solid 3px #770303;
				width:100%;
				height:100%;
				.border-radius(6px);
				padding:8px 0;
				overflow:hidden;
				position:relative;
				
				&:before{
					position:absolute;
					top:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#ffffff;
					content:'';
				}
				&:after{
					position:absolute;
					bottom:0;
					leftr:0;
					height:20px;
					width:100%;
					background-color:#fbad23;
					content:'';
				}
				
			}
			.content{
				width:inherit;
				height:inherit;
				background-color:#fcd921;
				.border-radius(6px);
				z-index:1;
				padding-top:20px;
				padding-bottom:20px;
				position:relative;
			}
		}
		
	}
	}
	

}