/* LESS Document */

@font-part : '../fonts/';

@font-face {
    font-family: 'db_heaventregular';
    src: url('@{font-part}db_heavent_v3.2.eot');
    src: url('@{font-part}db_heavent_v3.2.eot?#iefix') format('embedded-opentype'),
         url('@{font-part}db_heavent_v3.2.woff2') format('woff2'),
         url('@{font-part}db_heavent_v3.2.woff') format('woff'),
         url('@{font-part}db_heavent_v3.2.ttf') format('truetype'),
         url('@{font-part}db_heavent_v3.2.svg#db_heaventregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'db_heaventmed';
    src: url('@{font-part}db_heavent_med_v3.2.eot');
    src: url('@{font-part}db_heavent_med_v3.2.eot?#iefix') format('embedded-opentype'),
         url('@{font-part}db_heavent_med_v3.2.woff2') format('woff2'),
         url('@{font-part}db_heavent_med_v3.2.woff') format('woff'),
         url('@{font-part}db_heavent_med_v3.2.ttf') format('truetype'),
         url('@{font-part}db_heavent_med_v3.2.svg#db_heaventmed') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'db_heaventbold';
    src: url('@{font-part}db_heavent_bd_v3.2.eot');
    src: url('@{font-part}db_heavent_bd_v3.2.eot?#iefix') format('embedded-opentype'),
         url('@{font-part}db_heavent_bd_v3.2.woff2') format('woff2'),
         url('@{font-part}db_heavent_bd_v3.2.woff') format('woff'),
         url('@{font-part}db_heavent_bd_v3.2.ttf') format('truetype'),
         url('@{font-part}db_heavent_bd_v3.2.svg#db_heaventbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helvetica55roman';
    src: url('@{font-part}HLR__.eot');
    src: local('â˜º'), 
        url('@{font-part}HLR__.woff') format('woff'), 
        url('@{font-part}HLR__.ttf') format('truetype'), 
        url('@{font-part}HLR__.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica66roman';
    src: url('@{font-part}HLM__.eot');
    src: local('â˜º'), 
        url('@{font-part}HLM__.woff') format('woff'), 
        url('@{font-part}HLM__.ttf') format('truetype'), 
        url('@{font-part}HLM__.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}