/* LESS Document */
body{
	background:#f9df39 url(../images/main/bg.jpg) no-repeat top center;
	overflow-x:hidden;
	
	
	&.layout_popup{
		background:none;
	}
	&.overlay{
		&:after{
			position:fixed;
			top:0;
			left:0;
			content:'';
			width:100%;
			height:100%;
			background:url(../images/main/overlay.png);
			z-index:9;
		}
	}
	
	&.modal-open{
		overflow:hidden;
		position:fixed;
		width:100%;
	}
}
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom{
	margin-right:0;
}
.modal-open{
		overflow:hidden;
	}
a{
	cursor:pointer;
	outline:none;
	
	&:hover,&:active,&:focus{
		outline:none;
	}
}
#wrapper{
	margin:0;
	padding:0;
}
/* header */
#header{
	width:100%;
	height:110px;
	background:url(../images/header/bg_header.jpg) repeat center center;
	position:relative;
	
	@media(max-width:@screen-md-max){
		height:60px;
	}
	
	&:before{
		content:'';
		position:absolute;
		top:0;
		left:0;
		height:6px;
		background-color:#fce640;
		width:100%;
		@media(max-width:@screen-md-max){
			display:none;
		}
	}
	&:after{
		content:'';
		position:absolute;
		bottom:0;
		left:0;
		height:10px;
		background-color:#ffb300;
		width:100%;
		@media(max-width:@screen-md-max){
			display:none;
		}
	}
	.container{
		position:relative;
		height:100%;
		 @media (min-width: @screen-sm-min) {
			width: 100%;
		  }
		  @media (min-width: @screen-md-min) {
			width: 100%;
		  }
		  @media (min-width: @screen-lg-min) {
			width: @container-lg;
		  }
	}
	
	h1{
		width:238px;
		height:200px;
		position:absolute;
		top:0;
		left:-30px;
		margin:0;
		padding:0;
		z-index:2;
		@media(max-width:@screen-md-max){
			width:167px;
			height:139px;
			left:0;
		}
		a{
			width:100%;
			height:100%;
			background:url(../images/header/logo.png) no-repeat top left;
			background-size:cover;
			display:block;
			text-indent:-9999px;
			
		}
	}
	.socail{
		/* 220 140 */
		width:150px;
		height:30px;
		position:absolute;
		top:15px;
		right:0;
		@media(max-width:@screen-md-max){
			width:60px;
			border:solid 1px #ffd500;
			border-width:0 1px 0 0;
			height:40px;
			top:10px;
			right:60px;
		}
		
		label{
			background:url(../images/header/follow.png) no-repeat;
			width:83px;
			height:14px;
			display:block;
			text-indent:-9999px;
			float:left;
			position:relative;
			top:8px;
			left:10px;
			
			@media(max-width:@screen-md-max){
				display:none;
			}
		}
		ul{
			margin:0;
			padding:0;
			list-style:none;
			position:relative;
			left:10px;
			@media(max-width:@screen-md-max){
				top:5px;
			}
			
			li{
				width:30px;
				height:30px;
				float:left;
				margin:0 5px;
				
				a{
					width:100%;
					height:100%;
					display:block;
					text-indent:-9999px;
					
					&.fb{
						background:url(../images/header/icon_fb.png) no-repeat;
					}
					&.ig{
						background:url(../images/header/icon_ig.png) no-repeat;
					}
					&.email{
						background:url(../images/header/icon_email.png) no-repeat;
					}
				}
			}
		}
	}
	.wrapToggle{
		height:60px;
		position:absolute;
		top:0;
		right:0;
		width:60px;
		z-index:10;
		display:none;
		@media(max-width:@screen-md-max){
			display:block;
		}
		
	
		.toggleNav{
			background:url(../images/header/toggle.png) no-repeat;
			width:40px;
			height:40px;
			display:block;
			position:relative;
			top:10px;
			left:10px;
			text-indent:-9999px;
			
			
		}
		
		&.wrapToggleClose{
			background:#005584;
			.toggleNav{
				background:url(../images/header/toggleClose.png) no-repeat;
			}
		}
	}
}
/* end header */
#body{
	
	padding-bottom:40px;
	.container{
		@media(max-width:@screen-sm-max){
			padding-left:15px;
			padding-right:15px;
		}
	}
	#owl-banner{
		.item{
			.img-mobile{
				display:none;
				@media(max-width:@screen-sm-max){
					display:block;
				}
			}
			.img-desktop{
				display:block;
				@media(max-width:@screen-sm-max){
					display:none;
				}
			}
		}
		.owl-dots{
			position:absolute;
			bottom:10px;
			width:100%;
			text-align:center;
			.owl-dot{
				background-color:#ffffff;
				width:12px;
				height:12px;
				.border-radius(12px);
				display:inline-block;
				margin:0 2px;
				
				&.active,&:hover{
					background-color:#173c7a;
				}
			}
		}
	}
	#owl-itemList{
		position:relative;
		margin-top:10px;
		@media(max-width:@screen-sm-max){
			padding-right:25px;
			padding-left:25px;
		}
		.owl-dots{
			margin-top:10px;
			width:100%;
			text-align:center;
			.owl-dot{
				background-color:#ffffff;
				width:12px;
				height:12px;
				.border-radius(12px);
				display:inline-block;
				margin:0 2px;
				
				&.active,&:hover{
					background-color:#173c7a;
				}
			}
		}
		.owl-nav{
			
			.owl-prev{
				background:url(../images/main/btnPrev.png) no-repeat 0 0;;
				width:86px;
				height:88px;
				position:absolute;
				top:50%;
				margin-top:-108px / 2;
				left:-105px;
				display:block;
				text-indent:-9999px;
				&:hover{
					background-position:0 -88px;
				}
				&.disabled{
					.opacity(0.5);
					&:hover{
						background-position:0 0;
					}
				}
				
				@media(max-width:@screen-md-max){
					background:url(../images/main/btnPrevMobile.png) no-repeat;
					width:36px;
					height:36px;
					left:-40px;
					margin-top:-60px / 2;
				}
				@media(max-width:@screen-sm-max){
					background:url(../images/main/btnPrevMobile.png) no-repeat;
					width:36px;
					height:36px;
					left:-15px;
					margin-top:-60px / 2;
				}
			}
			.owl-next{
				background:url(../images/main/btnNext.png) no-repeat 0 0;
				width:86px;
				height:88px;
				position:absolute;
				top:50%;
				margin-top:-108px / 2;
				right:-105px;
				display:block;
				text-indent:-9999px;
				&:hover{
					background-position:0 -88px;
				}
				&.disabled{
					.opacity(0.5);
					&:hover{
						background-position:0 0;
					}
				}
				@media(max-width:@screen-md-max){
					background:url(../images/main/btnNextMobile.png) no-repeat;
					width:36px;
					height:36px;
					right:-40px;
					margin-top:-60px / 2;
				}
				@media(max-width:@screen-sm-max){
					background:url(../images/main/btnNextMobile.png) no-repeat;
					width:36px;
					height:36px;
					right:-15px;
					margin-top:-60px / 2;
				}
			}
		}
		
		.item{
			a{
				padding-bottom:20px;
				display:block;
				position:relative;
				color:#fad434;
				
				img{
					.border-top-radius(10px);
				}
				
				.b_content{
					position:absolute;
					bottom:0;
					left:0;
					width:100%;
					background-color:#173c7a;
					.border-bottom-radius(10px);
					padding:10px 10px 8px 10px;
					
					h3{
						.text-overflow();
						width:100%;
						margin:0;
						padding:0;
						font-family: 'db_heaventbold';
						font-weight:normal;
						font-size:22px;
						line-height:1em;
						@media(max-width:@screen-md-max){
							font-size:22px * 0.829;
						}
					}
					label{
						background:url(../images/main/icon_date.png) no-repeat center left;
						color:#ffffff;
						font-weight:normal;
						font-family: 'db_heaventmed';
						padding-left:20px;
						text-transform:uppercase;
						height:14px;
						line-height:1em;
						width:50%;
						padding-bottom:0;
						float:left;
						
					}
					em{
						text-transform:uppercase;
						height:14px;
						text-align:right;
						color:#ffffff;
						text-transform:uppercase;
						font-family: 'db_heaventmed';
						font-style:normal;
						text-align:right;
						display:inline-block;
						height:14px;
						line-height:1em;
						float:right;
						width:50%;
					}
				}
			}
		}
	}
	.tabSlide{
	width:100%;
			height:100%;
	}
	#owl-tabSlide{
		width:100%;
		height:100%;
		position:relative;
		.owl-stage-outer{
			width:100%;
			height:100%;
		}
		.owl-stage{
			width:100%;
			height:100%;
		}
		.owl-item{
			width:100%;
			height:100%;
		}
		.item{
			width:100%;
			height:100%;
			padding:20px;
			background-color:#132b67;
			.bgBox{
				background-position:center center;
				background-size:cover;
				width:100%;
				height:100%;
				
				padding:20px;
				
				label{
					font-size:20px;
					font-weight:normal;
					font-style:normal;
					color:#132b67;
					display:block;
					font-family: 'db_heaventbold';
					margin:0;
					padding:0;
					line-height:1em;
				}
				em{
					font-size:20px;
					font-weight:normal;
					font-style:normal;
					color:#132b67;
					display:block;
					font-family: 'db_heaventbold';
					margin:0;
					padding:0;
					line-height:1em;
				}
			}
		}
		
		.owl-nav{
			
			.owl-prev{
				background:url(../images/main/btnPrevMobile.png) no-repeat;
				position:absolute;
				top:50%;
					width:36px;
					height:36px;
					left:0px;
					margin-top:-36px / 2;
					display:block;
				text-indent:-9999px;
				&.disabled{
					.opacity(0.5);
					&:hover{
						background-position:0 0;
					}
				}
				
				
				@media(max-width:@screen-sm-max){
					background:url(../images/main/btnPrevMobile.png) no-repeat;
					width:36px;
					height:36px;
					left:0px;
					margin-top:-36px / 2;
				}
			}
			.owl-next{
				background:url(../images/main/btnNextMobile.png) no-repeat;
				position:absolute;
				top:50%;
					width:36px;
					height:36px;
					right:0px;
					margin-top:-36px / 2;
				display:block;
				text-indent:-9999px;
			
				&.disabled{
					.opacity(0.5);
					&:hover{
						background-position:0 0;
					}
				}
				
				@media(max-width:@screen-sm-max){
					background:url(../images/main/btnNextMobile.png) no-repeat;
					width:36px;
					height:36px;
					right:0px;
					margin-top:-36px / 2;
				}
			}
		}
	}
	
	.boxNewscontent{
		padding:0 15px;
		z-index:1;
		position:relative;
		background-color:#fcd921;
		.border-radius(6px);
		padding-top:30px;
		padding-bottom:10px;
		
		a{
				padding-bottom:20px;
				display:block;
				position:relative;
				color:#fad434;
				
				img{
					.border-top-radius(10px);
				}
				.b_content{
					position:absolute;
					bottom:0;
					left:0;
					width:100%;
					background-color:#173c7a;
					.border-bottom-radius(10px);
					padding:10px 10px 8px 10px;
					
					h3{
						.text-overflow();
						width:100%;
						margin:0;
						padding:0;
						font-family: 'db_heaventbold';
						font-weight:normal;
						font-size:22px;
						line-height:1em;
						@media(max-width:@screen-md-max){
							font-size:22px * 0.829;
						}
					}
					label{
						background:url(../images/main/icon_date.png) no-repeat center left;
						color:#ffffff;
						font-weight:normal;
						font-family: 'db_heaventmed';
						padding-left:20px;
						text-transform:uppercase;
						height:14px;
						line-height:1em;
						width:50%;
						padding-bottom:0;
						float:left;
					}
					em{
						text-transform:uppercase;
						height:14px;
						text-align:right;
						color:#ffffff;
						text-transform:uppercase;
						font-family: 'db_heaventmed';
						font-style:normal;
						text-align:right;
						display:inline-block;
						height:14px;
						line-height:1em;
						float:right;
						width:50%;
					}
				}
			}
	}
	
}
/******************************************** main *******************************************/

/******************************************** end main ***************************************/
/********************************************* footer ****************************************/
#footer{
	position:relative;
	height:70px;
	width:100%;
	background-color:#005583;
	
	@media(max-width:@screen-sm-max){
		height:95px;
	}
	&:before{
		content:'';
		background:url(../images/footer/bar.png) no-repeat center center;
		height:12px;
		width:100%;
		position:absolute;
		top:0;
		left:0;
	}
	.container{
		position:relative;
	}
	
	.copyright{
		color:#f9df39;
		position:relative;
		top:30px;
		font-family:'db_heaventregular';
		font-size:14px;
		text-transform:uppercase;
		@media(max-width:@screen-sm-max){
			width:100%;
			text-align:center;
			top:55px;
		}
		span{
			display:inline;
			@media(max-width:@screen-sm-max){
				display:block;
				line-height:1em;
			}
		}
	}
	
	.socail{
		/* width:135px; */
		width:60px;
		height:30px;
		position:absolute;
		top:25px;
		right:0;
		
		@media(max-width:@screen-sm-max){
			position:absolute;
			top:20px;
			right:50%;
			margin-right:-60px / 2;
		}
		
		
		
		ul{
			margin:0;
			padding:0;
			list-style:none;
			position:relative;
			left:10px;
			
			
			li{
				width:30px;
				height:30px;
				float:left;
				margin:0 5px;
				
				a{
					width:100%;
					height:100%;
					display:block;
					text-indent:-9999px;
					
					&.fb{
						background:url(../images/header/icon_fb.png) no-repeat;
					}
					&.ig{
						background:url(../images/header/icon_ig.png) no-repeat;
					}
					&.email{
						background:url(../images/header/icon_email.png) no-repeat;
					}
				}
			}
		}
	}
}
/********************************************** end footer ************************************/

.modal-dialog {
   width:1005px;
   @media(max-width:@screen-md-max){
		width:80%;
	}
	@media(max-width:@screen-sm-max){
		width:auto;
	}
  .close-button {
    overflow: hidden;
    
    button.close {
      font-size: 30px;
      line-height: 30px;
      padding: 7px 4px 7px 13px;
	  text-indent:-9999px;
	  background:url(../images/main/close.png) no-repeat;
	  width:36px;
	  height:34px;
     
     .opacity(.7);
      color:#fff;

      span {
        display: block;
      }
      
      &:hover,
      &:focus {
        .opacity(1);
        outline: none;
      }
    }
  }
  
  .modal-content {
    box-shadow: none;
    background-color: transparent;
    border: 0;
    
    iframe {
      display: block;
      margin: 0 auto;
    }
  }
}

.boxfacebookDesktop{
	display:block;
	@media(max-width:@screen-sm-max){
		display:none;
	}
}
.boxfacebookMobile{
	display:none;
	@media(max-width:@screen-sm-max){
		display:block;
	}
}