/* LESS Document */

.container_nav{
	.container-fixed();
	position:relative;
	@media (min-width: @screen-sm-min) {
    width: 100%;
  }
  @media (min-width: @screen-md-min) {
   width: 100%;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}
#navigation{
	width:770px;
	height:45px;
	position:absolute;
	bottom:10px;
	right:0;
	z-index:1;
	@media(max-width:@screen-md-max){
		display:block;
		z-index:10;
		bottom:0px;
		top:0px;
		height:auto;
		width:100%;
		display:none;
	}
	&.open{
		display:block;
	}
	.wrapNavigation{
		width:100%;
		height:100%;
		ul{
			margin:0;
			padding:0;
			list-style:none;
			
			li{
				margin:0;
				padding:0;
				
				@media(max-width:@screen-md-max){
					display:block;
					width:100%;
					text-transform:uppercase;
					
				}
				/*
				a{
					@media(max-width:@screen-md-max){
						 font-family: 'db_heaventbold';
						 font-size:24px;
						 text-decoration:none;
						 background-color:#005584;
						 color:#ffd624;
					}
					&:hover,&.active{
						background-color:#ffd624;
						color:#005584;
					}
				}
				*/
				&.nav_home{
					background:url(../images/header/navigation/home.png) no-repeat;
					width:165px;
					height:45px;
					position:absolute;
					top:0;
					left:0;
					z-index:4;
					@media(max-width:@screen-md-max){
						display:block;
						width:100%;
						position:relative;
						top:0;
						left:0;
						background-image:none;
						text-indent:0;
						height:70px;
						
						
					}
					
					a{
						width:75%;
						height:100%;
						display:block;
						text-indent:-9999px;
						z-index:5;
						position:relative;
						border-bottom:solid 1px #000000;
						
						@media(max-width:@screen-md-max){
							width:100%;
							text-indent:0;
							height:70px;
							line-height:70px;
							text-align:center;
							 font-family: 'db_heaventbold';
							 font-size:24px;
							 text-decoration:none;
							 background-color:#005584;
							 color:#ffd624;
						}
						&:hover,&.active{
							background-color:transparent;
							color:#005584;
							@media(max-width:@screen-md-max){
								background-color:#ffd624;
							}
							&:after{
								content:'';
								background:url(../images/header/navigation/homehover.png) no-repeat;
								width:192px;
								height:45px;
								position:absolute;
								top:0;
								left:0;
								
								@media(max-width:@screen-md-max){
									display:none;
								}
							}
						}
					}
				}
				&.nav_aboutus{
					background:url(../images/header/navigation/aboutus.png) no-repeat;
					width:179px;
					height:45px;
					position:absolute;
					top:0;
					left:145px;
					z-index:3;
					@media(max-width:@screen-md-max){
						display:block;
						width:100%;
						position:relative;
						top:0;
						left:0;
						background-image:none;
						text-indent:0;
						height:70px;
					}
					a{
						width:75%;
						height:100%;
						display:block;
						text-indent:-9999px;
						z-index:5;
						position:relative;
						
						@media(max-width:@screen-md-max){
							width:100%;
							text-indent:0;
							height:70px;
							line-height:70px;
							text-align:center;
							 font-family: 'db_heaventbold';
							 font-size:24px;
							 text-decoration:none;
							 background-color:#005584;
							 color:#ffd624;
							 border-bottom:solid 1px #000000;
						}
						&:hover,&.active{
							background-color:transparent;
							color:#005584;
							@media(max-width:@screen-md-max){
								background-color:#ffd624;
							}
							&:after{
								content:'';
								background:url(../images/header/navigation/aboutushover.png) no-repeat;
								width:204px;
								height:45px;
								position:absolute;
								top:0;
								left:0;
								@media(max-width:@screen-md-max){
									display:none;
								}
							}
						}
						
					}
				}
				&.nav_conprizes{
					background:url(../images/header/navigation/con_prizes.png) no-repeat;
					width:276px;
					height:45px;
					position:absolute;
					top:0;
					left:296px;
					z-index:2;
					@media(max-width:@screen-md-max){
						display:block;
						width:100%;
						position:relative;
						top:0;
						left:0;
						background-image:none;
						text-indent:0;
						height:70px;
					}
					
					a{
						width:82%;
						height:100%;
						display:block;
						text-indent:-9999px;
						z-index:5;
						position:relative;
						@media(max-width:@screen-md-max){
							width:100%;
							text-indent:0;
							height:70px;
							line-height:70px;
							text-align:center;
							 font-family: 'db_heaventbold';
							 font-size:24px;
							 text-decoration:none;
							 background-color:#005584;
							 color:#ffd624;
							 border-bottom:solid 1px #000000;
						}
						&:hover,&.active{
							background-color:transparent;
							color:#005584;
							@media(max-width:@screen-md-max){
								background-color:#ffd624;
							}
							&:after{
								content:'';
								background:url(../images/header/navigation/con_prizeshover.png) no-repeat;
								width:299px;
								height:45px;
								position:absolute;
								top:0;
								left:0;
								@media(max-width:@screen-md-max){
									display:none;
								}
							}
						}
					}
				}
				&.nav_latestupdate{
					background:url(../images/header/navigation/latest_update.png) no-repeat;
					width:224px;
					height:45px;
					position:absolute;
					top:0;
					left:540px;
					z-index:1;
					width:75%;
					@media(max-width:@screen-md-max){
						display:block;
						width:100%;
						position:relative;
						top:0;
						left:0;
						background-image:none;
						text-indent:0;
						height:70px;
					}
					a{
						width:100%;
						height:100%;
						display:block;
						text-indent:-9999px;
						z-index:5;
						position:relative;
						
						@media(max-width:@screen-md-max){
							width:100%;
							text-indent:0;
							height:70px;
							line-height:70px;
							text-align:center;
							 font-family: 'db_heaventbold';
							 font-size:24px;
							 text-decoration:none;
							 background-color:#005584;
							 color:#ffd624;
							 border-bottom:solid 1px #000000;
						}
						
						&:hover,&.active{
							background-color:transparent;
							color:#005584;
							@media(max-width:@screen-md-max){
								background-color:#ffd624;
							}
							&:after{
								content:'';
								background:url(../images/header/navigation/latest_updatehover.png) no-repeat;
								width:249px;
								height:45px;
								position:absolute;
								top:0;
								left:0;
								@media(max-width:@screen-md-max){
									display:none;
								}
							}
						}
					}
				}
			}
		}
	}
	
}