/* LESS Document */

#tabContent{
	.tab_prizes{
		background:url(../images/popup/tab/bg_prizes.jpg) no-repeat top center;
		width:100%;
		padding:0 15px;
		padding-bottom:0px;
		
		h4{
			 font-family: 'db_heaventbold';
			 font-size:24px;
			 margin:0;
			 padding:0;
			 text-transform:uppercase;
			 text-align:center;
		}
		.dp{
					margin-top:30px;	
		}
		.headPrizes{
			width:642px;
			margin:0 auto;
			margin-top:40px;
			
			@media(max-width:@screen-md-max){
				width:100%;
			}
			img{
				margin:0 auto;
				display:block;
			}
		}
		
		ul{
			margin:0;
			padding:0;
			text-align:center;
			 list-style:disc;
			li{
				 font-family: 'db_heaventregular';
				 font-size:24px;
				 line-height:1em;
				 list-style:disc;
			}
		}
	}
	.tab_condition{
		width:100%;
		padding:0 15px;
		&:extend(.clearfix all);
		
		.tcLeft{
			float:left;
			width:50%;
			padding:15px;
			font-size:18px;
			font-family: 'db_heaventmed';
			line-height:1em;
			h3{
				font-size:20px;
				font-family: 'db_heaventbold';
				line-height:1em;
				margin:0;
				padding:0;
			}	
			h4{
				font-size:18px;
				font-family: 'db_heaventbold';
				line-height:1em;
				margin:0;
				padding:0;
			}	
			ul{
				padding-left:15px;
			}
			ol{
				padding-left:15px;
			}
		}
		.tcRight{
			float:left;
			width:50%;
			padding:15px;
			font-size:18px;
			font-family: 'db_heaventmed';
			line-height:1em;
			h2{
				font-size:20px;
				font-family: 'db_heaventbold';
				line-height:1em;
				margin:0;
				padding:0 0 10px 0;
			}	
			h3{
				font-size:20px;
				font-family: 'db_heaventbold';
				line-height:1em;
				margin:0;
				padding:0;
			}	
			h4{
				font-size:18px;
				font-family: 'db_heaventbold';
				line-height:1em;
				margin:0;
				padding:0;
			}	
			
		ul{
				padding-left:15px;
			}
			ol{
				padding-left:15px;
			}
		a{
			color:#000000;
			text-decoration:underline;
		}
		}
	}
}

.content_news{
	padding:0 15px;
	h3{
		margin:0;
		padding:0;
		font-size:30px;
		font-family: 'db_heaventbold';
		font-weight:normal;
		line-height:1em;
	}
	.wrapContent_news{
		margin-top:10px;
		font-size:20px;
		font-family: 'db_heaventmed';
		line-height:1em;
		
		.thumb{
			width:50%;
			float:left;
			margin-right:30px;
			img{
				max-width:100%;
				width:100%;
			}
		}
		label{
			margin:0;
			padding:0;
			font-style:italic;
			font-weight:normal;
			font-family: 'db_heaventbold';
		}
	}
	
}

.content_aboutus{
	background-image:url(../images/popup/aboutus/bg_aboutus.jpg);
	background-position:top center;
	background-repeat:no-repeat;
	
	.wrapContent_aboutus{
		padding-top:20px;
		padding-bottom:30px;
	}
	.head{
		width:205px;
		margin:0 auto;
		margin-top:20px;
		padding:0 15px;
	}
	.body{
	  	font-size:26px;
		font-family: 'db_heaventmed';
		line-height:1em;
		text-align:center;
		margin-top:20px;
		padding-bottom:50px;
		padding:0 15px;
	}
}
#newsMCustomScrollbar{
	.scrollbar_malihu();
	height:440px;
	overflow:auto;
	.wrapContent_news{
		padding-right:20px;
	}
}
#conditionMCustomScrollbar{
	.scrollbar_malihu();
	height:440px;
	.mCustomScrollBox {
		padding-right:20px;
	}
}
#prizesMCustomScrollbar{
	.scrollbar_malihu();
	height:440px;
	.mCustomScrollBox {
		padding-right:20px;
	}
	
}
#aboutusMCustomScrollbar{
	.scrollbar_malihu();
	height:440px;
	.mCustomScrollBox {
		padding-right:20px;
	}
	
}
.modal-open .modal{
	overflow-y: hidden;
	overflow: hidden;
}