.scrollbar_malihu(){
	.mCSB_container{
		margin: 0;
	}

	.mCSB_scrollTools_vertical{
		.mCSB_draggerRail{
			background-color: #555555;
			width: 7px;
		}
		.mCSB_dragger_bar{
			background-color: red;
			padding: 3px;
			border: 2px solid #770303;
			#gradient .vertical(#fdee25; #fe5210;0%; 100%);
		}
	}
}