#video_container{
	width: 100% - 5px;
	height: 265px;
	margin: 0 auto;

	.video_panel{
		width: 68.57%;
		height: 265px;
		background-color: #000000;
		overflow: hidden;
		float: left;
		color: #ffffff;
		.border-radius(10px);
		
		iframe{
			border: none;
		}

		#singha_video{
			width: 100%;
			height: 100%;

			.border-radius(10px);
			
			.vjs-big-play-button{
				width: 2.5em;
				height: 2.5em;
				top: 50%;
				left: 50%;
				margin-top: -2.5em /2;
				margin-left: -2.5em /2;
				line-height: 2.5em;
				border-radius: 50%;
			}
		}
	}
	#video_relate{
		width: 100% - 68.57%;
		height: 265px;
		float: left;

		.scrollbar_malihu();
		.mCSB_container{
			padding-right: 8px;
		}

		.relate_layer{
			width: 100%;
			height: auto;
			padding: 0 15px;

			.item{
				width: 100%;
				height: 75px;
				background-color: #000000;
				margin-bottom: 20px;
				overflow: hidden;
				color: #ffffff;
				cursor: pointer;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				.border-radius(5px);

				&:last-child{
					margin: 0;
				}
			}
		}
	}
}